@model List<qWeather.Models.Weather>

@{
    ViewBag.Title = "Home Page";
}

<table class="table" style="padding-top:50px">
    <tr>
        <th>
            TIME
        </th>
        <th>
            OUTSIDE
        </th>
        <th>
            INSIDE
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.DATETIME
        </td>
        <td>
            @item.VAL1
        </td>
        <td>
            @item.VAL2
        </td>
    </tr>
    }
</table>