@model List<qWeather.Models.Weather>

@{
    ViewBag.Title = "Home Page";
}


<div class="panel-body">
    INSIDE<p data-bind="text: inside"></p>
    OUTSIDE<p data-bind="text: outside"></p>
    HUMIDITY<p data-bind="text: humidity"></p>
</div>

<div id="chart_div"></div>


@section Scripts {
    <script>

        var model = {
            weather: ko.observableArray(),
            outside: ko.observable(),
            inside: ko.observable(),
            humidity: ko.observable()
        };
        google.charts.load('current', { packages: ['annotationchart'] });

        function drawChart() {

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            var dataSet = model.weather();

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Minute');
            data.addColumn('number', 'Outside T');
            
            var dataArray = [];

            for (var i = 0; i < dataSet.length; i++) {

                var thisdate = new Date(dataSet[i].DateTimeFormatted);
                var thisminutes = thisdate.getMinutes();
                dataArray.push([thisminutes, dataSet[i].VAL1]);
            }

            data.addRows(dataArray);
     
            var options = {
                displayAnnotations: true,
                width: 960,
                height: 300
            };

            chart.draw(data, options);
        }

        function getTodayString(date) {

            var currentDate = date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();
            return "?start=" + currentDate + "T00:00:00&end=" + currentDate + "T23:59:59";
        }

        function getToday() {
            sendAjaxRequest("GET", function (data) {
                model.weather.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.weather.push(data[i]);
                }
            }, getTodayString(new Date()));
        }

        function getLast() {
            sendAjaxRequest("GET", function (data) {
                model.outside(data.VAL1);
                model.inside(data.VAL2);
                model.humidity(data.HUMIDITY);
            }, "last");
        }

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax("/api" + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: JSON.stringify(reqData),
                accepts: "application/json",
                contentType: "application/json"

            });
        }

        $(document).ready(function () {
           
            getLast();
            getToday();
            ko.applyBindings(model);

            google.setOnLoadCallback(drawChart);
           
        });
        
    </script>
}