@model List<qWeather.Models.Weather>

@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col">
        <div class="card row">
            <div class="card-body">
                <h5 class="card-title d-inline">TYPE</h5>
                <select id="dateRange" class="d-inline float-right" data-bind="options: dropdownOptions, value: dropdownValue"></select>

            </div>
        </div>
        <br />
        <div class="card row">
            <div class="card-body">
                <h5 class="card-title">CURRENT</h5>
                <div>
                    <div class="d-inline" data-bind="text: datetimeNow"></div>
                </div>
                <div>
                    <div class="d-inline">INSIDE: </div> <div class="d-inline" data-bind="text: insideNow"></div>
                </div>
                <div>
                    <div class="d-inline">OUTSIDE: </div><div class="d-inline" data-bind="text: outsideNow"></div>
                </div>
                <div>
                    <div class="d-inline">HUMIDITY: </div><div class="d-inline" data-bind="text: humidityNow"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="card row">
            <div class="card-body">
                <h5 class="card-title">LAST IN DB</h5>
                <div>
                    <div class="d-inline" data-bind="text: datetimeLast"></div>
                </div>
                <div>
                    <div class="d-inline">INSIDE: </div> <div class="d-inline" data-bind="text: insideLast"></div>
                </div>
                <div>
                    <div class="d-inline">OUTSIDE: </div><div class="d-inline" data-bind="text: outsideLast"></div>
                </div>
                <div>
                    <div class="d-inline">HUMIDITY: </div><div class="d-inline" data-bind="text: humidityLast"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="card row">
            <div class="card-body">
                <h5 class="card-title">AVERAGE</h5>
                <div>
                    <div class="d-inline">INSIDE: </div> <div class="d-inline" data-bind="text: insideAverage"></div>
                </div>
                <div>
                    <div class="d-inline">OUTSIDE: </div><div class="d-inline" data-bind="text: outsideAverage"></div>
                </div>
                <div>
                    <div class="d-inline">HUMIDITY: </div><div class="d-inline" data-bind="text: humidityAverage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">GRAPH</h5>
                <canvas width="800" height="255" data-bind="ChartTemp"></canvas>
                <br />
                <canvas width="800" height="255" data-bind="ChartHumidity"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var hours = 4
            initData(hours);
            getNow();
            ko.applyBindings(model);
        });

    </script>
}

<script>
    $("#dateRange").change(function () {
        var value = $(this).val();
        LoadByDateRange(value);
    });

    function LoadByDateRange(value) {

        switch (value) {
            case 'Last 4h':
                initData(4);
                break;
            case 'Last 8h':
                initData(8);
                break;
            case 'Day':
                getDay(new Date());
                getAverageByDay(new Date());
                break;
            case 'Week':
                getWeek(new Date());
                getAverageByWeek(new Date());
                break;
            case 'Month':
                getMonth(new Date());
                getAverageByMonth(new Date());
                break;
            case 'Year':
                getYear(new Date());
                getAverageByWeek(new Date());
                break;
            case 'All':
                getAll();
                getAverageByWeek(new Date());
                break;
        }
    }
</script>