@model List<qWeather.Models.Weather>

@{
    ViewBag.Title = "Home Page";
}
<div class="card">
    <div class="card-header">
        <div class="d-inline">CURRENT OUTSIDE : @Model.Where(x => x.DATETIME == Model.Max(y => y.DATETIME)).FirstOrDefault().VAL1.ToString("0.0");</div>
        <div class="d-inline">INSIDE : @Model.Where(x => x.DATETIME == Model.Max(y => y.DATETIME)).FirstOrDefault().VAL2.ToString("0.0")</div>
    </div>
    <hr />
    <div class="card-body" style="height:auto">
        <div id="chart_div" style="width:100%; height:80vh"></div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

    $(document).ready(function () {

        drawChart(@Html.Raw(Json.Encode(Model)));
    });

    function drawChart(dataSet) {

        google.charts.load('current', { packages: ['annotationchart'] });
        google.charts.setOnLoadCallback(draw);

        function draw() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Outside T');
            data.addColumn('number', 'Inside T');

            var dataArray = [];

            for (var i = 0; i < dataSet.length; i++) {
                dataArray.push([new Date(parseInt(dataSet[i].DATETIME.substr(6))), dataSet[i].VAL1, dataSet[i].VAL2]);
            }

            data.addRows(dataArray);

            var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

            var options = {
                displayAnnotations: true
            };

            chart.draw(data, options);
        }
    }
</script>