@model List<qWeather.Models.Weather>

@{
    ViewBag.Title = "Home Page";
}
<br />
    <div class="row">
        <div class="col">
            <div class="card row" >
                <div class="card-body" >
                    <h3 class="card-title">CURRENT</h3>
                    <div>
                        <div class="d-inline">INSIDE: </div> <div class="d-inline" data-bind="text: inside"></div>
                    </div>
                    <div>
                        <div class="d-inline">OUTSIDE: </div><div class="d-inline" data-bind="text: outside"></div>
                    </div>
                    <div>
                        <div class="d-inline">HUMIDITY: </div><div class="d-inline" data-bind="text: humidity"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card row">
                <div class="card-body">
                    <h3 class="card-title">AVERAGE</h3>
                    <div>
                        <div class="d-inline">INSIDE: </div> <div class="d-inline" data-bind="text: insideAverage"></div>
                    </div>
                    <div>
                        <div class="d-inline">OUTSIDE: </div><div class="d-inline" data-bind="text: outsideAverage"></div>
                    </div>
                    <div>
                        <div class="d-inline">HUMIDITY: </div><div class="d-inline" data-bind="text: humidityAverage"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">GRAPH</h3>
                    <canvas width="800" height="255" data-bind="ChartTemp"></canvas>
                    <br />
                    <canvas width="800" height="255" data-bind="ChartHumidity"></canvas>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>

        $(document).ready(function () {
            getToday();
            getLast();
            getAverage();
            ko.applyBindings(model);
        });   

    </script>
}